*.o
.DS_Store
test.txt
Minishell
libft/libft.a
libft/*.o
test
todo.txt
minishell
minishell_tester/tofix/tofix_tests.txt
minishell_tester/minishell
minishell_tester/minishell
minishell_tester/tofix/tofix_tests.txt
